{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sublime project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/cart_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
</head>
<body>

<div class="super_container">

    <!-- Header -->

    {% include 'inc/_header.html' %}

    <!-- Home -->

    {% include 'inc/_menu.html' %}

    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url({% static 'images/cart.jpg' %})"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="breadcrumbs">
                                    <ul>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li>Shopping Cart</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cart Info -->

    <div class="cart_info">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Column Titles -->
                    <div class="cart_info_columns clearfix">
                        <div class="cart_info_col cart_info_col_product">Product</div>
                        <div class="cart_info_col cart_info_col_price">Price</div>
                        <div class="cart_info_col cart_info_col_quantity">Quantity</div>
                        <div class="cart_info_col cart_info_col_total">Total</div>
                    </div>
                </div>
            </div>
            <div class="row cart_items_row">
                <div class="col">
                    {% for item in cart %}
                        {% with product=item.product %}
                            <!-- Cart Item -->
                            <div class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
                                <!-- Name -->
                                <div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
                                    <div class="cart_item_image">
                                        <div><img src="{{ product.photo.url }}" alt=""></div>
                                    </div>
                                    <div class="cart_item_name_container">
                                        <div class="cart_item_name"><a href="{{ product.get_absolute_url}}">{{ product.title }}</a></div>
                                        <hr>
                                        <div class="cart_item_name"><a href="{{ product.category.get_absolute_url}}">{{ product.category.title }}</a></div>
                                    </div>
                                </div>
                                <!-- Price -->
                                <div class="cart_item_price">₴{{ product.price }}</div>
                                <!-- Quantity -->
                                <div class="cart_item_quantity">
                                    <div class="product_quantity_container">
                                        <form action="{% url 'cart:cart_add' product.slug %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.update }}
                                            <input type="submit" value="Обновить">
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                    <p> In cart: {{ item.quantity }} </p>
                                    <a href="{% url 'cart:cart_remove' product.slug %}">Remove from cart</a>
                                </div>
                                <!-- Total -->
                                <div class="cart_item_total">₴{{ item.total_price }}</div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                </div>

            </div>
            <div class="row row_cart_buttons">
                <div class="col">
                    <div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
                        <div class="button continue_shopping_button"><a href="{% url 'home' %}">Continue shopping</a></div>
                    </div>
                </div>
            </div>
            <div class="row row_extra">
                <div class="col-lg-4">

                    <!-- Delivery -->
                    <!-- -->

                    <!-- Coupon Code -->
                    <!-- -->

                </div>

                <div class="col-lg-6 offset-lg-2">
                    <div class="cart_total">
                        <div class="section_title">Cart total</div>
                        <div class="section_subtitle">Final info</div>
                        <div class="cart_total_container">
                            <ul>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="cart_total_title">Shipping</div>
                                    <div class="cart_total_value ml-auto">Free</div>
                                </li>
                                <li class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="cart_total_title">Total</div>
                                    <div class="cart_total_value ml-auto">₴{{ cart.get_total_price }}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="button checkout_button"><a href="{% url 'checkout' %}">Proceed to checkout</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <div class="footer_overlay"></div>
    {% include 'inc/_footer.html' %}
</div>

{#<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>#}
{#<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>#}
{#<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>#}
{#<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>#}
{#<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>#}
{#<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>#}
{#<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>#}
{#<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>#}
{#<script src="{% static 'plugins/easing/easing.js' %}"></script>#}
{#<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>#}
{#<script src="{% static 'js/cart.js' %}"></script>#}

{% block scripts %}
    <script src="{% static 'js/jquery-3.2.1.min.js'  %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js'  %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js'  %}"></script>
    <script src="{% static 'plugins/greensock/TweenMax.min.js'  %}"></script>
    <script src="{% static 'plugins/greensock/TimelineMax.min.js'  %}"></script>
    <script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js'  %}"></script>
    <script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock %}
</body>
</html>