{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }} || {{ block.super }}
{% endblock %}
{% block products %} <div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="product_grid">
                    {% for item in laptops %}
                        <div class="product">
                            <div class="product_image"><img src="{{ item.photo.url}}" alt="{{ item.title }}" height="200"></div>
                            <div class="product_extra product_new"><a href="#">New</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
                                <div class="product_price">₴{{ item.price }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div> {% endblock %}
