{% extends 'store/index.html' %}
{% load static %}
{% block title %}
    {{ device.title }} {{ block.super }}
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/my_styles.css' %}">
{% endblock %}

{% include 'inc/_menu.html' %}

{% block home %}
    <div class="home">
        <div class="home_container">
            <div class="home_background" style="background-image:url({{ device.category.photo.url }})"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">{% block home_title %} {{ category.title }} {% endblock %}<span>.</span></div>
                                <div class="home_text"><p>{{ category.content }}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block ads %}  {% endblock %}

<!-- Products -->

{% block products %}
    <div class="product_details">
        <div class="container">
            <div class="row details_row">

                <!-- Product Image -->
                <div class="col-lg-6">
                    <div class="details_image">
                        <div class="details_image_large"><img src="{{ device.photo.url }}" alt=""></div>
                        <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
                            <div class="details_image_thumbnail" data-image="{{ device.photo.url }}"><img src="{{ device.photo.url }}" alt=""></div>
                            <div class="details_image_thumbnail" data-image="{{ device.photo1.url }}"><img src="{{ device.photo1.url }}" alt=""></div>
                            <div class="details_image_thumbnail" data-image="{{ device.photo2.url }}"><img src="{{ device.photo2.url }}" alt=""></div>
                            <div class="details_image_thumbnail" data-image="{{ device.photo3.url }}"><img src="{{ device.photo3.url }}" alt=""></div>
                        </div>
                    </div>
                </div>

                <!-- Product Content -->
                <div class="col-lg-6">
                    <div class="details_content">
                        <div class="details_name">{{ device.title }}</div>
                        <div class="details_price">${{ device.price }}</div>

                        <!-- In Stock -->
                        <div class="in_stock_container">
                            <div class="availability">Availability:</div>
                            <span>In Stock</span>
                        </div>
                        <div class="in_stock_container">
                            <div class="availability">Category:</div>
                            <span class="attribute">{{ device.category }}</span>
                        </div>
                        <div class="details_text">
                            <p>{{ device.content }}</p>
                        </div>

                        <!-- Product Quantity -->
                        <div class="product_quantity_container">
                            <div>
                                <form action="{% url 'cart:cart_add' device.slug %}" method="post">
                                    {% csrf_token %}

                                    {{ cart_product_form.quantity }}
                                    <input type="submit" value="Add to cart">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row description_row">
                <div class="col">
                    <div class="description_title_container">
                        <div class="description_title">Description</div>
                    </div>
                    <div class="description_text">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris consequat nisi ut mauris efficitur lacinia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="products">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="products_title">Related Products</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_grid">
                        <!-- Related products -->
                        {% for item in related_products %}
                            <div class="product">
                                <div class="product_image"><img src="{{ item.photo.url }}" alt="{{ item.title }}" height="200"></div>
                                <div class="product_content">
                                    <div class="product_title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
                                    <div class="product_price">₴{{ item.price }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block iconboxes %}{% endblock %}




{% block scripts %}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
    <script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
    <script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'js/product.js' %}"></script>
    <script src="{% static 'js/categories.js' %}"></script>
{% endblock %}

